body {
    background: url("../../Resources/Images/background.png") no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section:nth-child(1) {
    height: 110vh;
    width: 100%;
}

.section:nth-child(2) {
    margin-top: -5vh;
    height: 110vh;
    width: 100%;
    overflow: hidden;
}

.section:nth-child(3) {
    height: 55vh;
    width: 100%;
}

/* SECTION 1 ------------------------------------------ */

.section:nth-child(1) .header {
    margin-top: 35vh;
    margin-left: 20vh;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.section:nth-child(1) .header .main-header p {
    display: inline;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 6vh;
    color: antiquewhite;
    text-shadow: 0px 0px 25px rgb(0, 0, 0);
    user-select: none;
}

.section:nth-child(1) .header .main-header p.target {
    color: transparent;
    -webkit-text-stroke: 0.2vh rgb(26, 205, 26);
    transition: all 0.3s;
}

.section:nth-child(1) .header .main-header p.target:hover {
    color: rgb(26, 205, 26);
    -webkit-text-stroke: 0vh rgb(26, 205, 26);
}

.section:nth-child(1) .header .main-description p {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 2vh;
    color: antiquewhite;
    width: 105vh;
}

/* SECTION 2 ------------------------------------------ */


.section:nth-child(2) .slides_navbar {
    position: absolute;
    bottom: -110vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.section:nth-child(2) .slides_navbar .slides_bar {
    width: 5vh;
    height: 1vh;
    border: 0.2vh solid rgb(26, 205, 26);
    background: transparent;
    margin: 1vh;
    cursor: pointer;
    transition: all 0.5s;
}

.section:nth-child(2) .slides input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.section:nth-child(2) .slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.section:nth-child(2) .slides .slide {
    width: 20%;
    transition: 0.7s;
}

.section:nth-child(2) .slides .slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section:nth-child(2) .slides .slide .img-container1  {
    background: url("../../Resources/Images/part_2/Image_1.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section:nth-child(2) .slides .slide .img-container1 .text:first-child {
    flex: 100%;
    cursor: default;
    padding-top: 40vh;
    padding-right: 15vh;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 7vh;
    color: rgb(185, 169, 147);
    text-shadow: 0px 0px 25px rgb(0, 0, 0);
    text-align: right;
    user-select: none;
}

.section:nth-child(2) .slides .slide .img-container1 .text:last-child {
    flex: 100%;
    cursor: default;
    padding-bottom: 37vh;
    padding-left: 82vh;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 2vh;
    color: antiquewhite;
    text-align: right;
    width: 55%;
}

.section:nth-child(2) .slides .slide .img-container2  {
    background: url("../../Resources/Images/part_2/Image_2.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section:nth-child(2) .slides .slide .img-container2 .text:first-child {
    flex: 100%;
    cursor: default;
    padding-top: 40vh;
    padding-left: 10vh;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 7vh;
    color: rgb(185, 169, 147);
    text-shadow: 0px 0px 25px rgb(0, 0, 0);
    user-select: none;
}

.section:nth-child(2) .slides .slide .img-container2 .text:last-child {
    flex: 100%;
    cursor: default;
    padding-bottom: 37vh;
    padding-left: 10vh;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 2vh;
    color: antiquewhite;
    width: 55%;
}

.section:nth-child(2) .slides .slide .img-container3  {
    background: url("../../Resources/Images/part_2/Image_3.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section:nth-child(2) .slides .slide .img-container3 .text:first-child {
    flex: 100%;
    cursor: default;
    padding-top: 40vh;
    padding-right: 15vh;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 7vh;
    color: rgb(185, 169, 147);
    text-shadow: 0px 0px 25px rgb(0, 0, 0);
    text-align: right;
    user-select: none;
}

.section:nth-child(2) .slides .slide .img-container3 .text:last-child {
    flex: 100%;
    cursor: default;
    padding-bottom: 37vh;
    padding-left: 82vh;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 2vh;
    color: antiquewhite;
    text-align: right;
    width: 55%;
}

.section:nth-child(2) .slides .slide .img-container4  {
    background: url("../../Resources/Images/part_2/Image_4.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section:nth-child(2) .slides .slide .img-container4 .text:first-child {
    flex: 100%;
    cursor: default;
    padding-top: 40vh;
    padding-left: 10vh;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 7vh;
    color: rgb(185, 169, 147);
    text-shadow: 0px 0px 25px rgb(0, 0, 0);
    user-select: none;
}

.section:nth-child(2) .slides .slide .img-container4 .text:last-child {
    flex: 100%;
    cursor: default;
    padding-bottom: 37vh;
    padding-left: 10vh;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 2vh;
    color: antiquewhite;
    width: 55%;
}

.section:nth-child(2) .slides .slide .img-container5  {
    background: url("../../Resources/Images/part_2/Image_5.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section:nth-child(2) .slides .slide .img-container5 .text:first-child {
    flex: 100%;
    cursor: default;
    padding-top: 40vh;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 7vh;
    color: rgb(185, 169, 147);
    text-shadow: 0px 0px 25px rgb(0, 0, 0);
    text-align: center;
    user-select: none;
}

.section:nth-child(2) .slides .slide .img-container5 .text:last-child {
    flex: 100%;
    cursor: default;
    padding-bottom: 37vh;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 2vh;
    color: antiquewhite;
    width: 55%;
    text-align: center;
    align-self: center;
}

#r1:checked ~ .select_main {
    margin-left: 0;
}

#r2:checked ~ .select_main {
    margin-left: -20%;
}

#r3:checked ~ .select_main {
    margin-left: -40%;
}

#r4:checked ~ .select_main {
    margin-left: -60%;
}

#r5:checked ~ .select_main {
    margin-left: -80%;
}

.section:nth-child(3) .up {
    background: url("../../Resources/Images/part_3/image_1.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.section:nth-child(3) .up .mission {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section:nth-child(3) .up .mission .title {
    color: rgb(181, 162, 138);
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 4vh;
    margin-top: 15vh;
    user-select: none;
}

.section:nth-child(3) .up .mission .description {
    color: antiquewhite;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 2vh;
    width: 55%;
    text-align: justify;
    text-shadow: 0px 50px 50px rgb(0, 0, 0);
    margin-top: 2vh;
    cursor: default;
}

.section:nth-child(3) .up .vision {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section:nth-child(3) .up .vision .title {
    color: rgb(181, 162, 138);
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 4vh;
    margin-top: 15vh;
    user-select: none;
}

.section:nth-child(3) .up .vision .description {
    color: antiquewhite;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 2vh;
    width: 55%;
    text-align: justify;
    text-shadow: 0px 50px 50px rgb(0, 0, 0);
    margin-top: 2vh;
    cursor: default;
}

.section:nth-child(3) .down {
    background: rgb(9, 9, 9);
    margin-top: -2.55vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.section:nth-child(3) .down .container {
    flex: 25%;
    height: 100%;
    justify-content: unset;
}

.section:nth-child(3) .down .container {
    align-items: center;
}

.section:nth-child(3) .down .container .title {
    color: antiquewhite;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 3vh;
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 5vh;
    cursor: default;
    user-select: none;
    width: 60%;
}

.section:nth-child(3) .down .container:not(:nth-child(1)) .title {
    margin-bottom: 15vh;
}

.section:nth-child(3) .down .container:nth-child(1) img {
    height: 20vh;
    width: 20vh;
    user-select: none;
}

.section:nth-child(3) .down .container .dev {
    color: antiquewhite;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 2.3vh;
    align-self: baseline;
    cursor: default;
}

.section:nth-child(3) .down .container:nth-child(2) .dev {
    margin-left: 14vh;
}

.section:nth-child(3) .down .container:nth-child(3) .dev {
    margin-left: 11.5vh;
}

.section:nth-child(3) .down .container:nth-child(4) .dev {
    align-self: center;
    margin-bottom: 0.5vh;
    font-size: 3vh;
}

.section:nth-child(3) .down .container:nth-child(4) .dev a:hover {
    color: rgb(145, 124, 98);
}

.section:nth-child(3) .down .container .dev a {
    color: rgb(181, 162, 138);
    text-decoration: none;
}

.section:nth-child(3) .up {
    background: url("../../Resources/Images/part_3/image_1.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.section:nth-child(3) .up .mission {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section:nth-child(3) .up .mission .title {
    color: rgb(181, 162, 138);
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 4vh;
    margin-top: 15vh;
    user-select: none;
}

.section:nth-child(3) .up .mission .description {
    color: antiquewhite;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 2vh;
    width: 55%;
    text-align: justify;
    text-shadow: 0px 50px 50px rgb(0, 0, 0);
    margin-top: 2vh;
    cursor: default;
}

.section:nth-child(3) .up .vision {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section:nth-child(3) .up .vision .title {
    color: rgb(181, 162, 138);
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 4vh;
    margin-top: 15vh;
    user-select: none;
}

.section:nth-child(3) .up .vision .description {
    color: antiquewhite;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 2vh;
    width: 55%;
    text-align: justify;
    text-shadow: 0px 50px 50px rgb(0, 0, 0);
    margin-top: 2vh;
    cursor: default;
}

.section:nth-child(3) .down {
    background: rgb(9, 9, 9);
    margin-top: -2.55vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.section:nth-child(3) .down .container {
    flex: 25%;
    height: 100%;
    justify-content: unset;
}

.section:nth-child(3) .down .container {
    align-items: center;
}

.section:nth-child(3) .down .container .title {
    color: antiquewhite;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 3vh;
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 5vh;
    cursor: default;
    user-select: none;
    width: 60%;
}

.section:nth-child(3) .down .container:not(:nth-child(1)) .title {
    margin-bottom: 15vh;
}

.section:nth-child(3) .down .container:nth-child(1) img {
    height: 20vh;
    width: 20vh;
    user-select: none;
}

.section:nth-child(3) .down .container .dev {
    color: antiquewhite;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 2.3vh;
    align-self: baseline;
    cursor: default;
}

.section:nth-child(3) .down .container:nth-child(2) .dev {
    margin-left: 14vh;
}

.section:nth-child(3) .down .container:nth-child(3) .dev {
    margin-left: 11.5vh;
}

.section:nth-child(3) .down .container:nth-child(4) .dev {
    align-self: center;
    margin-bottom: 0.5vh;
    font-size: 3vh;
}

.section:nth-child(3) .down .container:nth-child(4) .dev a:hover {
    color: rgb(145, 124, 98);
}

.section:nth-child(3) .down .container .dev a {
    color: rgb(181, 162, 138);
    text-decoration: none;
}