@font-face {
    font-family: "OpenSans-Light";
    src: url("../Fonts/OpenSans/static/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../Fonts/OpenSans/static/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Medium";
    src: url("../Fonts/OpenSans/static/OpenSans-Medium.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../Fonts/OpenSans/static/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../Fonts/OpenSans/static/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../Fonts/OpenSans/static/OpenSans-ExtraBold.ttf");
}

body {
    background: url("../Images/background.png") no-repeat center fixed;
    background-size: cover;
    overflow-x: none;
    margin-left: 0;
    margin-right: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section:nth-child(1) {
    height: 110vh;
    width: 100%;
}

.section:nth-child(2) {
    background: orange;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.section:nth-child(3) {
    background: pink;
    height: 100vh;
    width: 100%;
}


/* SECTION 1 ------------------------------------------ */


.section:nth-child(1) .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section:nth-child(1) .nav .logo {
    flex: 10%;
    margin-top: 3vh;
    margin-left: 3vh;
}

.section:nth-child(1) .nav .logo img {
    height: 80%;
    width: 80%;
    user-select: none;
}

.section:nth-child(1) .nav .nav-bar .sfhs-beside-logo {
    cursor: default;
    user-select: none;
}

.section:nth-child(1) .nav .nav-bar {
    flex: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section:nth-child(1) .nav .nav-bar p {
    flex: 30%;
    color: antiquewhite;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 3vh;
}

.section:nth-child(1) .nav .nav-bar ul {
    list-style-type: none;
    align-self: center;
    cursor: default;
    user-select: none;
}

.section:nth-child(1) .nav .nav-bar ul li {
    display: inline;
    padding-right: 5vh;
    font-family: "OpenSans-Medium", sans-serif;
    font-size: 3vh;
    user-select: none;
}

.section:nth-child(1) .nav .nav-bar :not(li.active) a {
    color: antiquewhite;
    text-decoration: none;
    transition: color 0.3s;
}

.section:nth-child(1) .nav .nav-bar :not(li.active) a:hover {
    color: rgb(243, 177, 92);
}

.section:nth-child(1) .nav .nav-bar li.active {
    color: rgb(181, 162, 138);
    font-size: 4vh;
    font-family: "OpenSans-ExtraBold", sans-serif;
    cursor: default;
}

.section:nth-child(1) .header {
    margin-top: 35vh;
    margin-left: 20vh;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.section:nth-child(1) .header .main-header p {
    display: inline;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 6vh;
    color: antiquewhite;
    text-shadow: 0px 0px 25px rgb(0, 0, 0);
    user-select: none;
}

.section:nth-child(1) .header .main-header p.target {
    color: transparent;
    -webkit-text-stroke: 0.2vh rgb(26, 205, 26);
    transition: all 0.3s;
}

.section:nth-child(1) .header .main-header p.target:hover {
    color: antiquewhite;
    -webkit-text-stroke: 0vh antiquewhite;
}

.section:nth-child(1) .header .main-description p {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 2vh;
    color: antiquewhite;
    width: 105vh;
}


/* SECTION 2 ------------------------------------------ */


.section:nth-child(2) .slides_navbar {
    position: absolute;
    bottom: -110vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.section:nth-child(2) .slides_navbar .slides_bar {
    width: 5vh;
    height: 1vh;
    border: 0.2vh solid rgb(26, 205, 26);
    margin: 1vh;
    cursor: pointer;
    transition: all 0.3s;
}

.section:nth-child(2) .slides_navbar .slides_bar:hover {
    background: rgb(26, 205, 26);
}

.section:nth-child(2) .slides input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.section:nth-child(2) .slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.section:nth-child(2) .slides .slide {
    width: 20%;
    transition: 0.7s;
}

.section:nth-child(2) .slides .slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section:nth-child(2) .slides .slide p {
    color: antiquewhite;
}

#r1:checked ~ .select_main {
    margin-left: 0;
}

#r2:checked ~ .select_main {
    margin-left: -20%;
}

#r3:checked ~ .select_main {
    margin-left: -40%;
}

#r4:checked ~ .select_main {
    margin-left: -60%;
}

#r5:checked ~ .select_main {
    margin-left: -80%;
}